TOKEN=token_bota

OWNER_ID=id_admina


TELEGRAM_PROVIDER_TOKEN=token_platezhki


CRYPTO_PAY_TOKEN=


STARS_PER_VALUE=0.91


PAY_CURRENCY=RUB


REFERRAL_PERCENT=10


PAYMENT_TIME=1800


MIN_AMOUNT=20
MAX_AMOUNT=10000


CHANNEL_URL=


HELPER_ID=


RULES="Инструкция по использованию Vless VPN'a на телефонах:\n1) Установить приложение V2RAYTUN \n2)Скопируйте полученный ключ(vless://9036dc47-d0ec-4...) и нажмите на синюю кнопку «Добавить из буфера» в центре экрана \n3)Нажмите на синюю кнопку в центре, чтобы включить VPN. После подключения кнопка станет зеленой. Чтобы отключить VPN — нажмите на зеленую кнопку \n\nИнструкция для компьютеров:\n1) Установить приложение V2RAYTUN \n2)Скопируйте полученный ключ(vless://9036dc47-d0ec-4...) и нажмите на синюю кнопку «Добавить из буфера» в центре экрана \n3)Нажмите на синюю кнопку в центре, чтобы включить VPN. После подключения кнопка станет зеленой. Чтобы отключить VPN — нажмите на зеленую кнопку"


BOT_LOCALE=ru


BOT_LOGFILE=logs/bot.log
BOT_AUDITFILE=logs/audit.log


LOG_TO_STDOUT=1
LOG_TO_FILE=1
DEBUG=0


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

REDIS_PASSWORD=


POSTGRES_DB=telegram_shop
POSTGRES_USER=shop_user


POSTGRES_PASSWORD=change_me_to_strong_password
POSTGRES_HOST=localhost
DB_PORT=5432

DB_DRIVER=postgresql+psycopg2


MONITORING_HOST=localhost
MONITORING_PORT=9090


DB_HOST=db